ul, ol{
    list-style: none;
}
#cabecera{
    width: 100%;
    height: 28px;
    background-color: black
}
#menu>li{
    float: left;
}
#menu li a{
    background-color: black;
    color:white;
    text-decoration: none;
    padding: 6% 10px;
    display: block;
}
#menu li a:hover{
    background-color: #434343;
}
#menu li:hover > ul{
    display: block;
}
#menu li ul{
    display: none;
    position: absolute;
    min-width: 20%;
}
#menu li ul li a{
    min-width: 100px;
}
#menu li ul li ul a{
    background-color:#222222;
    color:#fff;
}
#menu li ul li ul{
    right: -32%;
    top:0%;
}